h1 {
    font-family: "Garamond", "Courier New", monospace;
    background-color:#eadbcb
}

h3 {
    margin-right: 100px;
    margin-left: 100px;
}

p {
    font-family: "Garamond", "Courier New", monospace;
    margin-right: 100px;
    margin-left: 100px;
}

ul {
    
    margin-left: 75px;  
}



